.header {
    display: flex;
    justify-content: space-between;
}

.name {
    display: inline;
    font-size: 2rem;
    font-weight: 700;
}

.rating {
    display: flex;
    align-self: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-title {
    font-size: 1.5rem;
    font-weight: 700;
}

tr.results {
    border-bottom: 1px solid orange;
}

td {
    width: 50%;
}