
@media screen and (max-width: 765px) {
  .layout {
    margin: auto;
    width: 90%;
  }
}

@media screen and (min-width: 766px) and (max-width: 1075px) {
  .layout {
    margin: auto;
    width: 80%;
  }
}

@media screen and (min-width: 1076px) and (max-width: 2400px) {
  .layout {
    margin: auto;
    width: 60%;
  }
}